* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
}

header {
    height: 160px;
    background: linear-gradient(-180deg, #f53d2d, #f63);
    margin-bottom: 100px;
}

.header-inner {
    display: flex;
    align-items: center;
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
}

/* Cart btn */
.cart-btn {
    position: relative;
    padding: 10px 0;
    margin-left: auto;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.cart-btn:hover .cart-preview {
    opacity: 1;
    visibility: visible;
    scale: 1;
}

/* Cart preview */
.cart-preview {
    position: absolute;
    top: 46px;
    right: -8px;
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 250px;
    min-height: 120px;
    padding: 10px;
    border-radius: 3px;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
    background: #fff;
    opacity: 0;
    visibility: hidden;
    scale: 0;
    transform-origin: 93% 0;
    transition: opacity 0.2s, visibility 0.2s, scale 0.2s;
}

/* Cart arrow top */
.cart-preview::before {
    content: "";
    position: absolute;
    top: -18px;
    right: 8px;
    border: 10px solid;
    border-color: transparent transparent #fff;
}

.cart-message {
    color: #333;
    font-size: 14px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #222;
    padding-top: 50px;
    z-index: -2;
}

.box {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    overflow: hidden;
    color: #fff;
    padding: 0 300px;
}

.box::after {
    content: "";
    display: block;
    position: absolute;
    top: -153px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: rgb(212, 37, 37);
    transform: skewY(-6deg);
}
